
/* ********** Custom Properties ********** */
:root{
  --first-color:#252525;
  --second-color: white;
  --third-color: #2f2f2f;
  --background-color: black;
  --background-color-transparent: rgba(0, 0, 0, 0);
  --btn-color:rgb(167, 36, 36) ;
  --icon-color:rgb(220, 231, 231);
  --font-family-primary: 'Staatliches', cursive;
  --font-family-second:Arial, Helvetica, sans-serif;
  --header-height: 0;
  --font-size-icon: 24rem;
  --font-size: 16px;
  --letter-spacing-primary: 2.5px;
  --letter-spacing-second: 1px;
  --text-align-title:center;
}

html {
    box-sizing: border-box;
    font-family:var(--font-family-primary);
    font-size: var(--font-family-primary); 
    text-align: var(--text-align-title);
    overflow: scroll;
    margin: 0;
    padding: 0;
}

*, 
*::after, 
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*{
  text-decoration:violet
}

#root {
  display: grid; 
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "Header Header Header "
        "Main   Main   Main   "
        "Loader   Loader   Loader   "
        "Footer Footer Footer "
    ;
}

header{
  grid-area: Header;
}
main{
  grid-area: Main;
}
.loader{
  grid-area: Loader;
}
footer{
  grid-area: Footer;
}


body {
    margin: 0;
}

a{
   color: #01579b;
   transition: color 0.3s ease; 
}
a:hover{
    color: #00b0ff;
}

h1{
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
}

.error{
    padding: 1rem;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #dc3545;
}

.error mark {
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: inline-block;
    color: #fff;
    background-color: #01579b;
}

.search-form{
    margin: auto;
    text-align: center;
}

.search-form input {
    display: block;
    margin: auto;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;

}

.grid-fluid{
    margin-left:auto;
    margin-right:auto;
    max-width:60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
}

.header{
    padding: 0.5rem;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #fff;
}

.header > *{
    margin: 1rem auto;
}

.loader{
    margin: 1rem auto;
    display: block;
    width: 4rem;
    height: 4rem;
}

.post-card{
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: #eceff1;
}
.post-card p{
    display: flex;
    justify-content: space-between;
}

.post-page{
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: #eceff1;
}

.post-page > aside {
    margin: auto;
    width: 60%;
    text-align: center;
}

.post-page > hr{
    border:  thin solid #cfd8dc;
    margin: 2rem auto;
    width: 80%;
}

.post-page time {
    margin: 1rem auto;
    display: block;
}

.post-page > article{
    padding: 0 2rem;
}

.post-page img,
.post-page figure,
.post-page pre,
.post-page code,
.post-page audio,
.post-page iframe,
.post-page video{
    margin: auto;
    display: block;
    max-width: 70%;
}

/* ********** MODAL ********** */

.modal{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
}
#btn-modal:checked ~ .modal{
	opacity: 1;
	visibility: visible;
} 
.contenedor{
	width: 400px;
	height: 300px;
	margin: auto;
	background: #fff;
	box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
}
#btn-modal:checked ~ .modal .contenedor{
	transform: translateY(0%);
} 
.contenedor header{
	padding: 10px;
	background: #db8046;
	color: #fff;
}
.contenedor label{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
}
.contenido{
	width: 100%;
	padding: 10px; 
}
.contenido h3{
	margin-bottom: 10px;
}
.contenido p{
	margin-bottom: 7px;
}
#btn-modal{
	display: none;
}
.lbl-modal{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 12vh;
  right: 80vw;
  background-color: #000;
  color: #00b0ff;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  font-size: 27px;
	cursor: pointer;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.contenedor{
		width: 95%;
	}
}
/* ********** MENU ********** */
.header{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.header-title{
  font-size: 1.5rem;
  display: inline;
  padding: 0 0 0 10vw ;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed; 
  z-index: 2;
  right: 0;
  top: 9vh;
  width: 0%;
  height: 100%;
  transition: 0.3s;
  border-radius: 10px 0;
  background-color: #3e2992;
  overflow: hidden;
}

.menu > a{
  color: #fff;
  padding: 10px;
}

.menu > a:hover{
  background-color: aquamarine;
  color: #000;
  width: 100%;
}

.NavBtn{
  display: inline;
  width: 85%;
  color: #eb2a41;
  font-size: 45px;
}
.IconoHamburguesa{
  position: relative;
  left: 48px;
}
.IconoCruz.fas.fa-times{
  opacity: 0;
}
.search-form{
  position: absolute;
  margin-top: 16vh;
}

/* LOGIN FORM*/

.login-form {
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-height: 300px;
  }

  .login-form>* {
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
  }

  .login-form textarea {
    resize: none;
  }

  .login-form legend,
  .login-form-response {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  .login-form input,
  .login-form textarea {
    font-size: 1rem;
    font-family: sans-serif;
  }

  .login-form input[type="submit"] {
    width: 50%;
    padding: 0 0.5rem 0 0.3rem;
    font-weight: bold;
    cursor: pointer;
  }

  .login-form *::placeholder {
    color: #000;
  }

  .login-form [required]:valid {
    border: thin solid var(--form-ok-color);
  }

  .login-form [required]:invalid {
    border: thin solid var(--form-error-color);
  }

  .login-form-error {
    margin-top: -1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color: #fff;
    transition: all 800ms ease;
  }

  .login-form-error.is-active {
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
  }

  .login-form-loader {
    text-align: center;
  }

  .none {
    display: none;
  }

  @keyframes show-message {
    0% {
      visibility: hidden;
      opacity: 0;
    }

    100% {
      visibility: visible;
      opacity: 1;
    }
  }

  /* CONTACT FORM*/

  .contact-form {
    --form-ok-color: #4caf50;
    --form-error-color: #f44336;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .contact-form>* {
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
  }

  .contact-form textarea {
    resize: none;
  }

  .contact-form legend,
  .contact-form-response {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
    font-family: sans-serif;
  }

  .contact-form input[type="submit"] {
    width: 50%;
    font-weight: bold;
    cursor: pointer;
  }

  .contact-form *::placeholder {
    color: #000;
  }

  .contact-form [required]:valid {
    border: thin solid var(--form-ok-color);
  }

  .contact-form [required]:invalid {
    border: thin solid var(--form-error-color);
  }

  .contact-form-error {
    margin-top: -1rem;
    font-size: 80%;
    background-color: var(--form-error-color);
    color: #fff;
    transition: all 800ms ease;
  }

  .contact-form-error.is-active {
    display: block;
    animation: show-message 1s 1 normal 0s ease-out both;
  }

  .contact-form-loader {
    text-align: center;
  }

  .none {
    display: none;
  }

  @keyframes show-message {
    0% {
      visibility: hidden;
      opacity: 0;
    }

    100% {
      visibility: visible;
      opacity: 1;
    }
  }

/* FOOTER */

footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

footer > section > article{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.redesSociales{
  display:flex;
  justify-content: center;
}
.redesSociales > a{
  padding: 0 20px;

}
.redesSociales > a > i{
  font-size: 40px;
  color: black;
}

.mapa{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa >*{
  padding: 0 10px;
  color: #000;
  text-decoration: none;
}
/* CARD */

.all-btn{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.all-btn input{
  padding: 3px 0;
  margin: 5px 0;
  background-color: #00b0ff;
  color: #fff;
  width: 50%;
  border-radius: 20px;
  cursor: pointer;
}

.table-post{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.table-post tr td{
  padding: 2px;
}
.table-head td{
  border-bottom: 1px solid black;
}

.detalles{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.detalles article {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  background-color: burlywood;
  padding: 5px 0 10px 0;
  cursor: pointer;
  border-radius: 10px;
}
.detalles article:hover{
  background-color: cadetblue;
  color: #fff;
}

/* BTN */

